body{

    background-color: brown;
    text-align: center;
}
img{
    padding: 85px;
    padding-bottom: 10px;
    display: inline-block;
    width: 150px;


}
.Text{
    font-size: 30px;
   
    
    
}
button{
    cursor: pointer;
    t
}