<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="/static/custom.css">

<title>Kostky</title>
<meta charset="utf-8">
</head>



<p class = "Text"> Hodil jsi: </p>

<br><img src= /static/img/kostka{{ hod }}.png ></img> <br>




<p class = "Text">  Počítač hodil:</p>

<img src= /static/img/kostka{{ hodpc }}.png ></img>

<h3>{{vyhra}}</h3>
<button class="button" onClick="window.location.reload();">Hoď znova</button>
<h4>Výhry: {{HracVyhra}}</h4>
<h4>Prohry: {{PcVyhra}}</h4>
</body>